/* top.html */
p{
  font-weight: 550;
}
.top-contents{
  margin-top: 30px;
}
.contents-wrapper{
  margin: 0 auto;
  margin-top: 30px;
}
.top-title{
  text-align: center;
}
.top-introduction{
  text-align: center;
}
.top-btn-container{
  text-align: center;
}
.top-btn {
  color: #fff;
  background-color: #43A586;
  font-weight: 500;
}
.section-title{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 20px;
  
}
.section-title::after{
    content: "";
		background: #778899;
		width: 76px;
		height: 3px;
		position: absolute;
		bottom: 13%;
		left: 50%;
    transform: translateX(-50%);
}

/* select_language.html */
.form_container{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.form-body{
  margin-bottom: 15px;
  
}
.form-body-text{
  font-size: 26px;
  border: 2px solid #333;
  padding: 5px 10px;
}

.form-feature{
  margin: 30px 0px;
}

.step-btn{
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #dee2e6;
}
.step{
  margin-bottom: 30px;
  border-bottom: 1px solid #dee2e6;
}
.step-title{
  text-align: center;
  font-weight: bold;
}
.step-introduction{
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
.result-table{
  margin-bottom: 30px;
}

.error-result-content{
  background-color: #fff;
  padding: 15px 0;
}

/* ボタンを押したら要素を表示・非表示にする */
#content-title1{
  display: none;
}
#content-title2{
  display: none;
}
#content-title3{
  display: none;
}
.content-title{
  display: inline-block;
  padding: 10px 10px 5px;
  cursor: pointer;
  color: #fff;
  background-color: #e6bb00;
  border-radius: 100vh;
}
.step-container{
visibility: hidden;
text-align: left;
padding-top: 20px;
margin: 0 auto;
height: 0;
}
#content-title1:checked+label+.step-container{
  opacity:1;
  visibility: visible;
  height: auto;
}
#content-title2:checked+label+.step-container{
  visibility: visible;
  opacity:1;
  height: auto;
}
#content-title3:checked+label+.step-container{
  visibility: visible;
  opacity:1;
  height: auto;

}

span.mark{
  background-color: yellow;
}