{% extends 'base.html' %}
{%block title%}検索内容一覧 {%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>検索内容一覧</h2>
      <a href="{% url 'new_search_word' %}" class="btn btn-primary">新しく検索する</a>
      <table>
        <tbody>
          <tr>
            <th>目的</th>
            <th>使用技術</th>
            <th>エラーメッセージ</th>
            <th>エラー詳細</th>
            <th>実装内容</th>
            <th></th>
          </tr>
          {% for item in object_list %}
          <tr>

            <td>{{item.get_category_display}}</td>
            <td>{{item.technique}}</td>
            <td>{{item.error_message}}</td>
            <td>{{item.error_detail}}</td>
            <td> {{item.Feature}}</td>
            <td><a href="{% url 'search_word' item.pk %}" class="btn btn-primary">検索ワードを見る</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock content %}
  </div>
</div>