{% extends 'base.html' %}
{% block title %}検索ワード作成 {%endblock%}

{% block content %}
<form method='POST'>{% csrf_token %}
  <div class="form">
    <div class="form-contents">
      <div class="form-content">
      </div>
      <div class="form-content">
        <p>言語及びフレームワーク</p>
        {{form.technique}}
      </div>
      <div class="form-content">
        <p>エラーメッセージ</p>
        <img src="/media/search_word/rails_error.png" alt="">
        <p>画像の1番目の行をコピペしてください。（画像だとSyntaxError）</p>
        {{form.error_message}}
      </div>
      <div class="form-content">
        <p>エラー詳細</p>
        <p>画像の2番目の行の"：から後ろを"コピペしてください。（画像だとsyntax error, unexpected...の部分）</p>

        {{form.error_detail}}
      </div>
      <div class="form-content">
        <p>今実践しているもの</p>
        {{form.Feature}}
      </div>
    </div>

  </div>
  <input type="submit" value="作成する">
</form>
{% endblock content %}