{% extends 'base.html' %}
{% block title %}検索ワード作成 {%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 contents-wrapper">
      <form method='POST'>{% csrf_token %}
        <div class="form form_container">
          <div class="form-contents">
            <div class="form-content">
              <div class="selected_technique">
                {{form.technique.as_hidden}}
              </div>
              <div>
                <h2 class="section-title">エラーメッセージ</h1>
                  {{form.error_message}}
              </div>
              <div class="form-feature">
                <h2 class="section-title">取り組んでいること</h1>
                  {{form.Feature}}
              </div>
            </div>
          </div>
          <input type="submit" value="作成する">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}