{% extends 'base.html' %}
{%block title%}エラー解決支援アプリ{%endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 contents-wrapper">
                <div class="top-contents">
                    <div class="top-title">
                        <h1>エラー解決を提案するアプリ</h1>
                    </div>
                    <div class="top-introduction">
                        <p>エラーを解決するためのエラーメッセージの読み方や、効率的な検索方法を学ぶことができるアプリになります。</p>
                    </div>
                    <div class="top-btn-container">
                        <a class = "top-btn btn " href="{% url 'select_language' %}">検索ワードを作成する</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
